<h1 mat-dialog-title>Assign Instructor</h1>
<form class="example-form" [formGroup]>
    <mat-form-field class="example-full-width">
        <mat-label>Instructor Name</mat-label>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.userEmail}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="assignInstructor()">Assign</button>
</div>