<form [formGroup]="courseForm" layout="row" layout-align="center center" (ngSubmit)="saveCourse()">
    <h4>EDIT COURSE</h4>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Course Title</mat-label>
            <input [style.color]="getColor()" matInput placeholder="Eg: React" formControlName="courseName" [readonly]='isDisabled'>
            <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Course Description</mat-label>
            <textarea [style.color]="getColor()" matInput formControlName="courseDesc" [readonly]='isDisabled'> </textarea>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Course Location</mat-label>
            <mat-select formControlName="courseLocation" [disabled]='isDisabled'>
                <mat-option *ngFor="let location of locations" [value]="location">
                    {{location}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Course Month</mat-label>
            <mat-select formControlName="courseMonth" [disabled]='isDisabled'>
                <mat-option *ngFor="let month of months" [value]="month">
                    {{month}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Course Year</mat-label>
            <mat-select formControlName="courseYear" [disabled]='isDisabled'>
                <mat-option *ngFor="let year of years" [value]="year">
                    {{year}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </p>


    <p>
        <mat-form-field appearance="outline">
            <mat-label>Course PreRequisites</mat-label>
            <input [style.color]="getColor()" matInput placeholder="Eg: JS,HTML,etc" formControlName="courseSkill" [readonly]='isDisabled'>
            <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Course Skills</mat-label>
            <input [style.color]="getColor()" matInput placeholder="Eg: ReactJS" formControlName="coursePrerequisites" [readonly]='isDisabled'>
            <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
    </p>
    <div>
        <button mat-fab color="accent" type="button" (click)="enable()" aria-label="Example icon button with a edit icon">
                <mat-icon>edit</mat-icon>
            </button> &nbsp; &nbsp;
        <button mat-fab color="accent" [disabled]="!courseForm.valid" type="submit" aria-label="Example icon button with a edit icon">
                <mat-icon>save</mat-icon>
        </button>
    </div>

</form>