<app-navbar></app-navbar>
<h3>Name: {{data.name}}</h3>
<h3>
    Email: {{data.email}}
</h3>

<div class="row">
    <div class="col-sm-6" style="display: block">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"></canvas>
    </div>

    <div class="col-sm-6" style="display: block">
        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="doughnutChartType"></canvas>
    </div>
</div>

<div class="row">
    <div style="display: block; width:80%; padding: 20px">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
              </canvas>
    </div>
</div>