.example-card {
    max-width: 600px;
    /* padding: 5px; */
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.mat-card {
    margin: auto;
    width: 60%;
    box-shadow: 5px 3px 5px 3px #aaaaaa;
    /* border-radius: 25px; */
}


/* button {
    width: 10%;
    height: 10%;
} */

.mat-icon:hover {
    cursor: pointer;
    color: red;
}

.send-email {
    display: flex;
    justify-content: center;
}