<app-navbar></app-navbar>
<mat-toolbar color="primary">
    Courses Assigned to You
</mat-toolbar>
<li *ngFor="let course of CourseList; let i = index">
    <mat-card class="example-card">
        <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>{{course.courseName}}</mat-card-title>
            <!-- <mat-card-subtitle>{{course.skills}}</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <p>
                {{course.courseDesc}}
            </p>
        </mat-card-content>

        <mat-card-actions>
            <div class="example-button-container">
                <mat-icon color="primary" (click)="openDialog(course.courseId)">add</mat-icon>
                <button mat-stroked-button (click)="showTraining(course.courseId, i)" color="accent">view Training</button>
                <!-- <mat-icon color="primary">delete</mat-icon> -->
            </div>
        </mat-card-actions>

        <div *ngIf="!isShowDiv[i]">
            <p *ngFor="let training of TrainingList">
                <span *ngIf="training.courseId == course.courseId">
                            <mat-icon color="primary">file_copy</mat-icon> <a (click)="downloadFile(training.file, training.fileType)">{{training.fileName}}</a>
                             <mat-icon (click)="deleteInstructor(training.trainingId)">delete_outline</mat-icon>                
                        </span>
            </p>

        </div>
    </mat-card>

</li>