<form [formGroup]="courseForm" layout="row" layout-align="center center" (ngSubmit)="addCourse()">
    <h4>ADD NEW COURSE</h4>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Course Title</mat-label>
            <input matInput placeholder="Eg: React" formControlName="courseName">
            <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Course Description</mat-label>
            <textarea matInput formControlName="courseDesc"> </textarea>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Course Location</mat-label>
            <input matInput placeholder="Eg: Mumbai,Bengaluru,etc" formControlName="courseLocation">
            <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Course PreRequisites</mat-label>
            <input matInput placeholder="Eg: JS,HTML,etc" formControlName="courseSkill">
            <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Course Skills</mat-label>
            <input matInput placeholder="Eg: ReactJS" formControlName="coursePrerequisites">
            <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
    </p>
    <p>
        <button [disabled]="!courseForm.valid" mat-fab color="accent" type="submit">
                <mat-icon>save</mat-icon>
        </button>
    </p>

</form>