<app-navbar></app-navbar>
<mat-toolbar color="primary">
    Manage Courses
</mat-toolbar>
<div class="search">
    <mat-icon>search</mat-icon>
    <mat-form-field class="example-full-width">
        <mat-label>Search by Course Name</mat-label>
        <input type="text" matInput [formControl]="myControl">
    </mat-form-field>
</div>
<p *ngFor="let course of filteredCourseList | async ; let i = index">
    <mat-card class="example-card">
        <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>{{course.courseName}}</mat-card-title>
            <button mat-stroked-button (click)="showInstructor(course.courseId, i)" color="accent">view Instructors</button>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{course.courseDesc}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <div class="example-button-container">
                <mat-icon color="accent" (click)="openViewCourseDialog(course.courseId)">visibility</mat-icon>
                &nbsp;
                <mat-icon color="accent" (click)="deleteCourse(course.courseId)">delete</mat-icon>
                &nbsp;
                <mat-icon color="accent" (click)="openDialog(course.courseId)">person_add</mat-icon>
            </div>
        </mat-card-actions>
        <div *ngIf="!isShowDiv[i]">
            <p *ngFor="let instructor of InstructorList">
                <span *ngIf="instructor.courseId == course.courseId">
                    <mat-icon color="primary">person</mat-icon> {{instructor.userName}}
                     <mat-icon (click)="deleteInstructor(instructor.trainingId)">delete_outline</mat-icon>                
                </span>
            </p>
            <span *ngIf="InstructorList.length == 0">NO INstructor Assigned yet</span>

        </div>

    </mat-card>

</p>

<button class="add" mat-fab color="accent" (click)="openCreateDialog()">
        <mat-icon>add</mat-icon>
      </button>