<app-navbar></app-navbar>
<mat-toolbar color="primary">
    Manage Courses
</mat-toolbar>
<div class="search">
    <mat-icon class="search-icon">search</mat-icon>
    <mat-form-field class="example-full-width">
        <mat-label> Search by Course Name</mat-label>
        <input type="text" matInput [formControl]="myControl">
    </mat-form-field>
</div>
<p *ngFor="let course of filteredCourseList | async ; let i = index">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{course.courseName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{course.courseDesc}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <div class="example-button-container">

                <button mat-stroked-button (click)="openViewCourseDialog(course.courseId)" color="accent"> <mat-icon color="accent"> edit</mat-icon> Edit Course</button>

                <button mat-stroked-button (click)="deleteCourse(course.courseId)" color="accent"> <mat-icon color="accent" >delete</mat-icon> Delete course</button>

                <button mat-stroked-button (click)="openDialog(course.courseId)" color="accent"><mat-icon color="accent" >person_add</mat-icon> Add Instructor</button>

                <button mat-stroked-button (click)="showInstructor(course.courseId, i)" color="accent"><mat-icon color="accent" >visibility</mat-icon> View Instructors</button>
            </div>
        </mat-card-actions>
        <div *ngIf="!isShowDiv[i]">
            <hr>
            <table style="width: 100%">
                <tr *ngFor="let instructor of InstructorList">
                    <th *ngIf="instructor.courseId == course.courseId">

                        <mat-icon color="primary">person</mat-icon> {{instructor.userName}}
                    </th>
                    <th *ngIf="instructor.courseId == course.courseId">
                        <mat-icon (click)="deleteInstructor(instructor.trainingId)">delete_outline</mat-icon>
                    </th>
                </tr>
            </table>

            <h5 *ngIf="InstructorList.length == 0">No Instructor Assigned yet</h5>

        </div>

    </mat-card>

</p>

<button class="add" mat-fab color="accent" (click)="openCreateDialog()">
        <mat-icon>add</mat-icon>
      </button>