.example-card {
    max-width: 600px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.mat-card {
    margin: auto;
    width: 60%;
    box-shadow: 5px 5px 5px 5px #aaaaaa;
    border-radius: 25px;
}

.mat-icon:hover {
    cursor: pointer;
    color: black;
}