<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>AUMS</span>
        <span class="example-spacer"></span>
        <a class="example-icon" routerLink="/manage">Manage Courses</a>
        <a class="example-icon" routerLink="/training">Assigned Courses</a>
        <a class="example-icon" routerLink="/courses">View All Courses</a>
        <button mat-fab color="accent" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        <div [ngStyle]="{'background-image': getUrl()}" mat-card-avatar class="example-header-image"></div>
    </mat-toolbar-row>
</mat-toolbar>