.example-icon {
    padding: 0 14px;
}

a {
    color: aliceblue;
    padding: 10px;
}

a:hover {
    text-decoration: none;
    background-color: white;
}

a:focus {
    text-decoration: none;
    background-color: white;
}

.example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: contain;
}

.mat-icon:hover {
    cursor: pointer;
}

a:hover {
    color: black;
}

.mat-icon {
    float: left;
}