.example-icon {
    padding: 0 14px;
}

a {
    color: aliceblue;
}

a:hover {
    text-decoration: none;
}

.example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: cover;
}