<app-navbar></app-navbar>
<mat-toolbar color="primary">
    All Courses
</mat-toolbar>
<div class="search">
    <mat-icon>search</mat-icon>
    <mat-form-field class="example-full-width">
        <mat-label>Search by Course Name</mat-label>
        <input type="text" matInput [formControl]="myControl">
    </mat-form-field>
</div>

<p *ngFor="let course of filteredCourseList| async; let i = index">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{course.courseName}}</mat-card-title>
            <mat-card-subtitle>{{course.courseDesc}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{course.courseDesc}}
            </p>
            <p>Location:
                <mat-chip color="primary" selected>{{course.courseLocation}}</mat-chip>
            </p>
            <p>Skills:
                <mat-chip color="primary" selected>{{course.courseSkill}}</mat-chip>
            </p>
            <p>prerequisites:
                <mat-chip color="primary" selected>{{course.coursePrerequisites}}</mat-chip>
            </p>
        </mat-card-content>
        <button mat-stroked-button (click)="showInstructor(course.courseId,i)" color="accent">view Training Info</button>
        <div *ngIf="!isShowDiv[i]">
            <p *ngFor="let instructor of InstructorList">
                <span *ngIf="instructor.courseId == course.courseId">
                        <mat-icon color="primary">person</mat-icon> {{instructor.userName}}          
                </span>
                <li *ngFor="let training of TrainingList;let j= index">

                    <!-- <span *ngIf="training.instuctorId == instructor.userId"> -->
                    <mat-icon color="primary">file_copy</mat-icon> <a (click)="downloadFile(training.file, training.fileType)">{{training.fileName}}</a>
                    <!-- </span> -->
                </li>
            </p>
            <span *ngIf="InstructorList.length == 0">NO Instructor Assigned Yet</span>

        </div>
    </mat-card>

</p>