<app-navbar></app-navbar>
<mat-toolbar color="primary">
    All Courses
</mat-toolbar>
<div class="search">
    <mat-icon>search</mat-icon>
    <mat-form-field class="example-full-width">
        <mat-label>Search by Course Name</mat-label>
        <input type="text" matInput [formControl]="myControl">
    </mat-form-field>
</div>

<p *ngFor="let course of filteredCourseList| async; let i = index">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{course.courseName}}</mat-card-title>
            <mat-card-subtitle>{{course.courseDesc}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Location:
                <mat-chip color="primary" selected>{{course.courseLocation}}</mat-chip>
            </p>
            <p>Skills:
                <mat-chip color="primary" selected>{{course.courseSkill}}</mat-chip>
            </p>
            <p>prerequisites:
                <mat-chip color="primary" selected>{{course.coursePrerequisites}}</mat-chip>
            </p>
        </mat-card-content>
        <button mat-stroked-button (click)="showInstructor(course.courseId,i)" color="accent">view Training Info</button>
        <div *ngIf="!isShowDiv[i]">
            <div *ngFor="let instructor of InstructorList">
                <span *ngIf="instructor.courseId == course.courseId">
                        <mat-icon color="primary">person</mat-icon> {{instructor.userName}}          
                </span>
                <div *ngFor="let training of TrainingList;let j= index">
                    <div *ngFor="let t of training">
                        <span *ngIf="t.instructorId == instructor.userId">
                                <mat-icon color="primary">file_copy</mat-icon> <a (click)="downloadFile(t.file, t.fileType)">{{t.fileName}}</a>
                        </span>
                    </div>
                </div>
                <!-- <span *ngIf="checkIfNoMaterialUpload(instructor.instructorId)">No Training Material uploaded yet</span> -->
            </div>
            <span *ngIf="InstructorList.length == 0">No Instructor Assigned Yet</span>
        </div>
    </mat-card>

</p>