<app-navbar></app-navbar>
<mat-toolbar color="primary">
    All Courses
</mat-toolbar>
<li *ngFor="let course of CourseList">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{course.courseName}}</mat-card-title>
            <mat-card-subtitle>{{course.courseDesc}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{course.courseDesc}}
            </p>
            <p>Location:
                <mat-chip color="primary" selected>{{course.courseLocation}}</mat-chip>
            </p>
            <p>Skills:
                <mat-chip color="primary" selected>{{course.courseSkill}}</mat-chip>
            </p>
            <p>prerequisites:
                <mat-chip color="primary" selected>{{course.coursePrerequisites}}</mat-chip>
            </p>
        </mat-card-content>
    </mat-card>

</li>