.example-card {
    max-width: 600px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.contain {
    padding: 15px;
}

.mat-card {
    margin: auto;
    width: 70%;
    box-shadow: 0px 3px 3px 2px #aaaaaa;
    /* border-radius: 25px; */
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 10%;
}